In [119]:
import pandas as pd

In [120]:
df = pd.read_excel('../xlsx/data.xlsx', sheet_name='Item Values',header=1)
df.head()

,Item,Dec ID,Hex ID,Item Type,Category,Rarity,Max Stack,Unnamed: 7,Sell Rate,Buy,Sell,Upgrade Type?,Bonus Type,Shipping Type,Unnamed: 14,Item Class,Unnamed: 16,Unnamed: 17
0,(nothing),0.0,0000,0,0,0,9,0.0,0.0,0.0,0.0,0.0,None,0.0,#0027,Class 0,0.0,0.0
1,Cabbage,1.0,NaN,1,0,6,9,0.0,3.0,2800.0,680.0,39.0,None,0.0,#0000,Class 0,0.0,25.0
2,King Cabbage,2.0,NaN,1,0,10,9,0.0,3.0,12000.0,3400.0,39.0,None,0.0,#03E7,Class 2,1.0,25.0
3,Pink Turnip,3.0,NaN,3,0,3,9,0.0,3.0,700.0,200.0,40.0,None,1.0,#0027,Class 0,2.0,26.0
4,Colossal Pink,4.0,NaN,3,0,7,9,0.0,3.0,3200.0,1000.0,40.0,None,1.0,#03E7,Class 2,3.0,26.0

In [121]:
items =  df.dropna(how='all',subset=['Item'])

In [124]:
descs = []
with open('/home/ajohanes/Downloads/RF4TextDump/EngTxt/Item Descriptions.txt') as f:
    desc = ''
    multi = False

    while True:
        l = f.readline().strip().replace('"""','$"').replace('""',"$")

        if l == "":
            break

        if l[0] == '"' and not multi:
            multi = True
            desc = l[1:]
        elif l[-1] == '"' and multi:
            multi = False
            desc += " " + l[:-1]
            descs.append(desc.strip().replace('$','"'))
            desc = ''
        else:
            if multi:
                desc += " " + l
            else:
                desc = ''
                descs.append(l.replace('$','"'))

In [125]:
data = []
for i, desc in enumerate(descs):
    item_name = items.iat[i,0].replace('&apos;',"'")
    item_desc = desc
    data.append([item_name,item_desc])

pd.DataFrame(
    data=data,
    columns=["name", "desc"]
).to_csv("../xlsx/item_desc.csv",index=False)